# Ignore datasets
Datasets/SFBHI/Images/*.jpeg
Datasets/SFBHI/Labels/
Datasets/GlaS/*.bmp

# Ignore saved model
HPG_Results/
New_Metrics/
Saved_Models/
HPG_code/

# Ignore statisitcal analysis figures
Generate_Statistical_Figure.py
Utils/Stats_Analysis/

# Ignore supplemental figures
Supplemental Figures/





